<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ukparlyendpointsfuncapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e6ba8781-b352-41d3-acd1-2d969d978b38/resourcegroups/UKParlyEmdPointsFuncAppRG/providers/Microsoft.Web/sites/UkParlyEndPointsFuncApp</ResourceId>
    <UserName>$UkParlyEndPointsFuncApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ukparlyendpointsfuncapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>